@charset "UTF-8";
/* CSS Document */

.banner {
	width: 100%;
	height: 100%;
}

.banner img {
	width: 50%;
	height: 50%;
	-webkit-filter:brightness(50%);
    -moz-filter:brightness(50%);
    filter: url(#brightness); /* required for FF */
    filter:brightness(50%);
	 clip: rect(0px,60px,200px,0px);
}